<div class="row">
	<div class="container">
		<div class="span2 offset1">
			<select id='init_servers'>
				<option value="" disabled selected>Выберите точку отсчета</option>
				  {{#init_servers}}
                  	<option id={{serv_id}} value={{serv_id}}>{{host_ip}}</option>
                  {{/init_servers}}
			</select>
		</div>
		<div class="span2 offset1">
			<button id='get_data' class="btn btn-inverse" type="button" onclick="get_data()" data-loading-text="Загрузка…">Получить данные</button>
		</div>
		<!-- <div class="span2">
			<button class="btn btn-inverse" type="button" onclick="get_graph()">Построить граф</button>
		</div>	 -->
	</div>
</div>
<div id='progress_bar' class="row" hidden=true>
	<div class="container">
		<div class="progress progress-striped">
		  <div id='bar' class="bar" style="width: 0%;"></div>
		</div>
	</div>
</div>

<div id="graph" class="container">
	
</div>
<!-- load the d3.js library --> 
<script src="js/d3.v4.min.js"></script>
<script src="js/d3.graph.js"></script>