<main role="main" class="container align-self-center">
  <div class="mt-5">
    <!-- <h1>Добро пожаловать</h1> -->
  </div>
  <!--
  <p class="lead">Pin a fixed-height footer to the bottom of the viewport in desktop browsers with this custom HTML and CSS. A fixed navbar has been added with <code>padding-top: 60px;</code> on the <code>body &gt; .container</code>.</p>
  <p>Back to <a href="../sticky-footer">the default sticky footer</a> minus the navbar.</p>
  -->
  <img src="img/1200px-Tele2_logo.svg.png" class="img-fluid" alt="Responsive image">
</main>

<footer class="footer">
  <div class="container">
    <span class="text-muted">Сервис отображения информации о тестовой зоне. &copy; 2017 ver. 0.1, ЦК ESB</span>
  </div>
</footer>