<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Zone Map</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Zone Map of Platform V3">
    <meta name="author" content="dmitry.a.arefyev@tele2.ru">

    
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/custom.css" rel="stylesheet">
    <link href="css/bootstrap-responsive.css" rel="stylesheet">
    
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="ico/apple-touch-icon-57-precomposed.png">
                                   <link rel="shortcut icon" href="ico/favicon.png">

    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </head>

  <body>
    {{> menu }}
    <div id='alert' class="row" hidden=true>
      <div class="span6 offset7">
        <div id='alert_message' class="alert alert-error btn-small">
          <!-- <button type="button" class="close" data-dismiss="alert">x</button> -->
          <button type="button" class="close" aria-hidden="true" data-dismiss="alert">&times;</button>
          <strong>Ошибка!</strong> {{ error_text }}
        </div>
      </div>
    </div>  
    {{#error_block}}
    <div class="row">
      <div class="span6 offset7">
        <div class="alert alert-error btn-small">
          <!-- <button type="button" class="close" data-dismiss="alert">x</button> -->
          <button type="button" class="close" aria-hidden="true" data-dismiss="alert">&times;</button>
          <strong>Ошибка!</strong> {{ error_text }}
        </div>
      </div>
    </div>  
    {{/error_block}}

    <!-- container -->
    {{#template_index}}
        {{> index }}
    {{/template_index}}
    {{#template_login}}
        {{> login }}
    {{/template_login}}
    {{#template_error}}
        {{> error }}
    {{/template_error}}
    {{#template_table_version_platform}}
        {{> table_version_platform }}
    {{/template_table_version_platform}}
    {{#template_graph}}
        {{> graph }}
    {{/template_graph}}
    <!-- /container -->

  </body>
</html>