<div class="container center-block">
      <form class="form-signin" action="/login" method="post">
        <h2 class="form-signin-heading">Авторизация</h2>
        <input id="login" name='login'type="text" class="input-block-level" placeholder="Логин">
        <input id="password" name='password' type="password" class="input-block-level" placeholder="Пароль">
        <!-- <label class="checkbox">
          <input type="checkbox" value="remember-me"> Remember me
        </label> -->
        <button class="btn btn-large btn-primary btn-inverse" type="submit">Вход</button>
      </form>
</div>  
  