<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
  <a class="navbar-brand" href="/">ZoneMap</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/table_versions">Таблица версий V3</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/table_db_about">Таблица версий БД</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/graph">Карта</a>
      </li>
    </ul>
  </div>
  <a href="/logout" class="btn btn-primary">Выход</a>
</nav>
