<!-- <nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
  <div class="container">
    <a class="brand" href="/">ZoneMap</a>
    <ul class="nav">
      <li><a href="/table_version_platform">Таблица версий платформы</a></li>
      <li><a href="/graph">Карта</a></li>
      <li><a href="#">Link</a></li> 
    </ul>
    <form class="pull-right" action="/logout" method="get">
      <button class="btn btn-default navbar-btn" type="submit">Выход</button>
    </form>
  </div>
</nav>
 -->

<div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
  <div class="navbar-inner">
    <a class="brand form-horizontal" href="/">ZoneMap</a>
    <ul class="nav">
      <li><a href="/table_version_platform">Таблица версий</a></li>
      <li><a href="/graph">Карта</a></li>
    </ul>
    <a class="btn navbar-btn pull-right" href="/logout">Выход</a>
  </div>
</div>