<table class="table table-striped table-bordered table-hover">
  <caption>Таблица версий окружения Platform V3</caption>
  <thead class="btn-inverse">
    <tr>
      <th>host ip</th>
      <th>service name</th>
      <th>service type</th>
      <th>service version</th>
      <th>data port</th>
      <th>http port</th>
      <th>service port</th>
      <th>system name</th>
      <th>system version</th>
      <th>database</th>
    </tr>
  </thead>
  <tbody>
  	{{#versions}}
  		<tr>
	      <td>{{host_ip}}</td>
	      <td>{{service_name}}</td>
	      <td>{{service_type}}</td>
	      <td>{{service_version}}</td>
        <td>{{data_port}}</td>
        <td>{{http_port}}</td>
        <td>{{service_port}}</td>
	      <td>{{system_name}}</td>
	      <td>{{system_version}}</td>
        <td>{{data_base}}</td>
	    </tr>
  	{{/versions}}
  </tbody>
</table>