<div class="table-responsive">
  <table class="table table-striped table-bordered"
    data-toggle="table"
    data-search="true">
    <thead class="thead-light">
      <tr>
        <th data-sortable="true">tns sid</th>
        <th data-sortable="true">tns name</th>
        <th data-sortable="true">version custom</th>
        <th data-sortable="true">version invoice</th>
        <th data-sortable="true">version invoice date</th>
        <th data-sortable="true">version invoice api</th>
        <th data-sortable="true">version invoice api date</th>
        <th data-sortable="true">instance name</th>
        <th data-sortable="true">host name</th>
      </tr>
    </thead>
    <tbody>
      {{#db_about}}
        <tr>
          <td>{{tns_sid}}</td>
          <td>{{tns_name}}</td>
          <td>{{version_custom}}</td>
          <td>{{version_invoice}}</td>
          <td>{{version_invoice_date}}</td>
          <td>{{version_invoice_api}}</td>
          <td>{{version_invoice_date_api}}</td>
          <td>{{instance_name}}</td>
          <td>{{host_name}}</td>
        </tr>
      {{/db_about}}
    </tbody>
  </table>
</div>